@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, #0a0810 0%, #16051a 50%, #0a0810 100%);
  color: #e6eef8;
}

html, body, #root {
  height: 100%;
}
